<!DOCTYPE html>
<html>
<style>
body {
  background-image: url('https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
</style>

<center>
  <p><a href="https://github.com/lakshmikanthboda">GitHub</a></p>
<h2>Select Country:-</h2>
<p>
  Created By Lakshmikanth
</p>

  <p><a href="http://127.0.0.1:8000/covid/india">INDIA</a></p>
  <p><a href="http://127.0.0.1:8000/covid/us">US</a></p>
  <p><a href="http://127.0.0.1:8000/covid/spain">SPAIN</a></p>
<p><a href="http://127.0.0.1:8000/covid/china">CHINA</a></p>
<p><a href="http://127.0.0.1:8000/covid/germany">Germany</a></p>
<p><a href="http://127.0.0.1:8000/covid/iran">IRAN</a></p>
<p><a href="http://127.0.0.1:8000/covid/france">FRANCE</a></p>
<p><a href="http://127.0.0.1:8000/covid/switzerland">SWITZERLAND</a></p>
<p><a href="http://127.0.0.1:8000/covid/uk">UK</a></p>
<p><a href="http://127.0.0.1:8000/covid/netherlands">NetherLands</a></p>
<p><a href="http://127.0.0.1:8000/covid/austria">Austria</a></p>
<p><a href="http://127.0.0.1:8000/covid/belgium">Belgium</a></p>
<p><a href="http://127.0.0.1:8000/covid/canada">Canada</a></p>
<p><a href="http://127.0.0.1:8000/covid/turkey">Turkey</a></p>
<p><a href="http://127.0.0.1:8000/covid/portugal">Portugal</a></p>
<p><a href="http://127.0.0.1:8000/covid/norway">Norway</a></p>
<p><a href="http://127.0.0.1:8000/covid/australia">Australia</a></p>
<p><a href="http://127.0.0.1:8000/covid/brazil">Brazil</a></p>
<p><a href="http://127.0.0.1:8000/covid/sweden">Sweden</a></p>
<p><a href="http://127.0.0.1:8000/covid/israel">Israel</a></p>
<p><a href="http://127.0.0.1:8000/covid/poland">Poland</a></p>
<p><a href="http://127.0.0.1:8000/covid/indonesia">Indonesia</a></p>
<p><a href="http://127.0.0.1:8000/covid/greece">Greece</a></p>
<p><a href="http://127.0.0.1:8000/covid/philipines">Philipines</a></p>
<p><a href="http://127.0.0.1:8000/covid/iraq">Iraq</a></p>
<p><a href="http://127.0.0.1:8000/covid/hongkong">Hong Kong</a></p>
<p><a href="http://127.0.0.1:8000/covid/algeria">Algeria</a></p>
<p><a href="http://127.0.0.1:8000/covid/southkorea">South Koria</a></p>

</center>

<p>..............................................................................Made with Django by @lakshmikanth 2020........................................................................</p>




</body>
</html>
