<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Corona Updates</title>
  <LINK href="styles.css" rel="stylesheet" type="text/css">
</head>
<style>
body {
  background-image: url('https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
</style>

<!-- Feel free to change this text here -->
<p>
  <p><a href="/"><font size="+3" color="blue">.....Home.....</font></a></p>
  <p><a href="https://github.com/lakshmikanthboda">GitHub</a></p>
  Created By Lakshmikanth
</p>
<center>
<div class="w3-container">
  <h2><b>Country  :  {{Country}}</b></h2>
  <h2><b>No Of Cases  :  {{NoOfCases}}</b></h2>
  <h2><b>Recovered  :  {{Recovered}}</b></h2>
  <h2><b>Deaths  :  {{Deaths}}</b></h2>
  <h2><b>Active Cases  :  {{ActiveCases}}</b></h2>
  <h2><b>Recovered Cases percentage  :  {{RecoveredCasespercentage}}</b></h2>
  <h2><b>Death Percenrage  :  {{DeathPercenrage}}</b></h2>

  <div class="w3-card-4" style="width:70%">


  </div>
</div>
</center>

</body>
</html>
