<!DOCTYPE html>

<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Corona Updates</title>
  <LINK href="styles.css" rel="stylesheet" type="text/css">
</head>
<style>


body {
  background-image: url('https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
</style>

<!-- Feel free to change this text here -->
<p>
  <p><a href="/"><font size="+3" color="blue">.....Home.....</font></a></p>
  <p><a href="https://github.com/lakshmikanthboda">GitHub</a></p>
  Created By Lakshmikanth


</p>
<center>
<div class="w3-container">
  <b>
    <h2><b>State : {{state}}</b></h2>
     <h2><b>Confirmed : {{Confirmed}}</b></h2>
    <h2><b>Active : {{Active}}</b></h2>

    <h2><b>Deaths : {{Deaths}}</b></h2>
    <h2><b>Last Update : {{LastUpdate}}</b></h2>
    <h2><b>Recovered : {{Recovered}}</b></h2>


</b>


  <div class="w3-card-4" style="width:70%">


  </div>
</div>
</center>

</body>
</html>
