<!DOCTYPE html>


<html>
<head>
  <p><a href="/"><font size="+3" color="blue">.....Home.....</font></a></p>
    <p><a href="https://github.com/lakshmikanthboda">GitHub</a></p>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Corona Updates</title>
  <LINK href="styles.css" rel="stylesheet" type="text/css">
</head>
<style>
body {
  background-image: url('https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
</style>

<!-- Feel free to change this text here -->
<p>
  Created By Lakshmikanth


</p>
<center>
<div class="w3-container">
  <b>
    <h2><b>State : {{state}}</b></h2>
    <h2><b>Confirmed : {{Confirmed}}</b></h2>
    <h2><b>Active : {{Active}}</b></h2>

    <h2><b>Deaths : {{Deaths}}</b></h2>
    <h2><b>Last Update : {{LastUpdate}}</b></h2>
    <h2><b>Recovered : {{Recovered}}</b></h2>



    <p><a href="/covid/india/states?st=AndhraPradesh">Andhra Pradesh</a></p>

<p><a href="http://54.164.139.54:8000/covid/india/states?st=Maharashtra">Maharashtra</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Kerala">Kerala</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Tamil Nadu">Tamil Nadu</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Delhi">Delhi</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Rajasthan">Rajasthan</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=UttarPradesh">Uttar Pradesh</a></p>

<p><a href="http://54.164.139.54:8000/covid/india/states?st=Karnataka">Karnataka</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Telangana">Telangana</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Gujarat">Gujarat</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=MadhyaPradesh">Madhya Pradesh</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=JammuandKashmir">Jammu and Kashmir</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Punjab">Punjab</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Haryana">Haryana</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=WestBengal">West Bengal</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Bihar">Bihar</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Chandigarh">Chandigarh</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Ladakh">Ladakh</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Assam">Assam</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=AndamanandNicobarIslands">Andaman and Nicobar Islands</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Chhattisgarh">Chhattisgarh</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Uttarakhand">Uttarakhand</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Goa">Goa</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Odisha">Odisha</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=HimachalPradesh">Himachal Pradesh</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Puducherry">Puducherry</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Jharkhand">Jharkhand</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Manipur">Manipur</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Mizoram">Mizoram</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=ArunachalPradesh">Arunachal Pradesh</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=DadraandNagarHaveli">Dadra and Nagar Haveli</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=DamanandDiu">Daman and Diu</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Lakshadweep">Lakshadweep</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Meghalaya">Meghalaya</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Nagaland">Nagaland</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Sikkim">Sikkim</a></p>
<p><a href="http://54.164.139.54:8000/covid/india/states?st=Tripura">Tripura</a></p>





</b>


  <div class="w3-card-4" style="width:70%">


  </div>
</div>
</center>

</body>
</html>
